[Unit]
Description=Runs ngrok.io for a Minecraft server
After=network.target

[Service]
User=minecraft-tunnel
WorkingDirectory=/home/minecraft-tunnel/minecraft-cloudflare-ngrok/
ExecStart=/snap/bin/ngrok tcp 25565 --region au
ExecStartPost=python3 /home/minecraft-tunnel/minecraft-cloudflare-ngrok/cloudflare.py
Restart=always

[Install]
WantedBy=multi-user.target